*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg-pagina:#EAEAEA;
    --bg-receita:#FFFFFF;
    --text-titles-subtitles:#1B1B1B;
    --text-footer-and-legend:#1B1B1B;
    --defout-text:#39393A;

    font-size: 62.5%;
}

body {
    background: #eaeaea;
    font-family: 'Roboto', sans-serif;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 1.6rem;
}

.receita{
    background-color: var(--bg-receita);
    width: 40vw;
    height: 90vh;
}

header{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
figure{
    width: 95%;
}
figure figcaption{
    margin-top: .9rem;
    
    display: flex;
    justify-content: end;

    font-size: 1.2rem;
    color: var(--text-footer-and-legend);
    opacity: 0.6;
}
.imagem {

    background-image: url(assets/waffle-americano-scaled.jpg);
    background-size: cover;
    background-position: center;

    max-height: 200px;

    margin-top: 2rem;
    height: 200rem;
    

    border-radius: 15px;
}

h2 {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    color: var(--text-titles-subtitles);
}

ul,ol, p{
    margin-left: 4rem;
    font-size: 1.3rem;
    color: var(--defout-text);
}

ul li, ol li{
    margin-top: 1rem;
}

p{
    margin-top: 2rem;
    margin-left: 2.6rem;
}