body{
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-areas: 
    "topo topo"
    "main aside"
    "footer footer"
    ;

    grid-template-rows: 40px 1fr 50px;
    grid-template-columns: 1fr 300px;
}

header{
    grid-area: topo;
    background-color: green;
}

main{
    grid-area: main;
    background-color: red;
}

aside{
    grid-area: aside;
    background-color: blue;
}

footer{
    grid-area: footer;
    background-color: gray; 
}    
